@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');

body {
    font-family: 'Poppins';
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
}

.main-content {
    font-family: 'Poppins';
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #455e14;
    margin-bottom: 20px;
}

h2, p {
    display: inline-block;
    margin-top: 0%;
}

.back-to-bottles {
    display: inline-block;
    color: #455e14;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
}

.back-to-bottles:hover {
    text-decoration: underline;
    background-color: #bdd299;
    color: white;
}

.bottleSizeUnit{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
select {
    width: 10%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #7a951c;
    border-radius: 5px;
    font-family: 'Poppins';
}

/* Style the options */
select option {
    font-weight: bold;
    color: #455e14;
    margin-bottom: 8px;
    display: block;
    font-family: 'Poppins';
}

/* Style the select dropdown on focus */
select:focus {
    outline: none;
    border-width: 2px;
    border-color: #7a9b57!important;
}
form {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    font-family: 'Poppins';
}

form label {
    font-weight: bold;
    color: #455e14;
    margin-bottom: 8px;
    display: block;
    font-family: 'Poppins';
}

form input {
    width: 97%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #7a951c;
    border-radius: 5px;
    font-family: 'Poppins';
}

form input:focus {
    outline: none;
    border-width: 2px;
    border-color: #7a9b57!important;
}

#bottleSize {
    width: 85%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #7a951c;
    border-radius: 5px;
    font-family: 'Poppins';
}
#bottleSizeUnit{
    width: 10.3%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #7a951c;
    border-radius: 5px;
    font-family: 'Poppins';
}
#bottleWeight{
    width: 85%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #7a951c;
    border-radius: 5px;
    font-family: 'Poppins';
}
#bottleWeightUnit{
    width: 10.3%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #7a951c;
    border-radius: 5px;
    font-family: 'Poppins';
}
form button {
    padding: 10px 20px;
    background-color: #83951c;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: bold;
}

form button:hover {
    background-color: #bdd299;
    color: #455e14;

}

.reward-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reward-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.reward-card h3 {
    color: #455e14;
    font-size: 18px;
    margin-bottom: 10px;
}

.reward-card p {
    color: #455e14;
    font-size: 16px;
}


@media (max-width: 768px) {
    .main-content {
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    form#userForm input {
        font-size: 14px;
    }

    table#userTable th,
    table#userTable td {
        font-size: 14px;
    }
}