@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Signika+Negative:wght@300..700&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    font-family: 'Poppins';
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #009E49, #BAD80A);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 3px;
    border-bottom: 2px solid #143f17;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: black;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: green;
    border-radius: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.grid-container > .full {
    grid-column: span 2;
}

.grid-container > .side {
    grid-column: span 3;
}

.box1, .box2, .box3 {
    height: 100px;
    margin-top: 0px;
    background-color: #e5eeda;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: grey;
    box-shadow: 0 0 5px 1px #acacac;
    font-size: 16px; 
    color: #333; 
}

.full {
    margin-top: -20px;
    height: auto; 
    max-height: 300px; 
    overflow-y: auto; 
    margin: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 5px 1px #acacac;
    border-radius: 10px;
}

.user-item {
    margin: 5px 0;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#userTable th, #userTable td {
    padding: 12px 15px;
    text-align: left;
    font-family: 'Poppins';
}

#userTable thead th {
    background-color: #7a9b57;
    color: white;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}

#userTable tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

#userTable tbody tr:hover {
    background-color: #e2e2e2;
}

table#userTable td {
    text-align: center;
    color: black;
}

.wide {
    height: 300px;
    margin-right: 10px;
    margin-left: 11px;
    border-color: #455e14;
    background-color: white;
    box-shadow: 0 0 5px 1px #acacac;
}

.grid-item.wide button {
    width: 200px;
    height: 40px;
    font-family: 'Poppins';
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #83951c;
    font-weight: bold;
    margin-top: 20px;
}

.grid-item.wide button:hover {
    background-color: #bdd299;
    color: #455e14;
}

.grid-item.wide button:focus {
    outline: none;
    box-shadow: 0 0 4px 2px rgba(69, 94, 20, 0.5); /* Green shadow on focus */
}

#user-count-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-count-text {
    font-family: 'Poppins';
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    color: #333;
}

.user-count-number {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: bold;
    color: #455e14;
}

#claimed-rewards-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.claimed-rewards-text {
    font-family: 'Poppins';
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 1rem;
    color: #333;
}

.claimed-rewards-number {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: bold;
    color: #455e14;
}

#bottle-contribution-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottle-contribution-text {
    font-family: 'Poppins';
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    color: #333;
}

.bottle-contribution-number {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: bold;
    color: #455e14;
}



/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Dark background with opacity */
}

.modal-content {
    background-color: #ffffff; /* White background */
    margin: 10% auto; /* Centered */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    width: 80%; /* Responsive width */
    max-width: 800px; /* Max width for larger screens */
    position: relative;
}

/* Ensure buttons are positioned correctly */
.modal-content .button-container {
    text-align: center;
    margin-top: 20px; /* Add space between the table and buttons */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #000; /* Change color on hover */
}

h2 {
    color: #455e14; /* Darker text for headings */
    margin-bottom: 20px; /* Space below heading */
}

.modal-body {
    display: flex; /* Use flexbox to arrange child elements */
    justify-content: space-between; /* Space between the sections */
}

.modal-section {
    width: 48%; /* Each section takes up nearly half the modal width */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    padding: 10px; /* Add some padding */
}

.modal-section.user-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.user-info {
    border-right: 1px solid #ddd; /* Divider between sections */
}

.user-info img.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user-details p {
    margin: 5px 0; /* Space between text lines */
    color: #555; /* Gray text for details */
}

#bottle-info-section h3 {
    color: #455e14;
    text-align: center;
    font-family: 'Poppins';
}

.bottle-info p {
    color: #333; /* Darker text for bottle info */
    margin: 5px 0; /* Space between text lines */
}

/* Ensure the bottle table is scrollable */
.bottle-table-container {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #ddd; /* Fixed border for the table */
    margin-bottom: 20px; /* Space between the table and buttons */
}
.button-container {
    display: flex;
    justify-content: space-between; /* Space between buttons */
    margin-top: 10px; /* Space above buttons */
}
#bottleTable {
    width: 100%;
    border-collapse: collapse;
}

#bottleTable th, #bottleTable td {
    padding: 12px 15px;
    text-align: left;
    font-family: 'Poppins';
}

#bottleTable thead th {
    background-color: #7a9b57;
    color: white;
    font-weight: 600;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: 'Poppins';
}

#bottleTable tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

#bottleTable tbody tr:hover {
    background-color: #e2e2e2;
}

#bottleTable td {
    text-align: center;
    color: black;
}

/* Add styles for disabled button */
.disabled-button {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Add styles for user and bottle info */
.user-details p, .bottle-info-section p {
    font-size: 1em;
    margin: 5px 0;
    color: #455e14;
    font-family: 'Poppins';
}

.user-details #userName, #userStudentNumber {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: #455e14;
}

/* Add styles for buttons */
.styled-button {
    background-color: #83951c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    border-radius: 10px;
    font-family: 'Poppins';
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #bdd299;
    color: #455e14;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .main-content {
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    form#userForm input {
        font-size: 14px;
    }

    table#userTable th,
    table#userTable td {
        font-size: 14px;
    }
}

