@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');

body {
    font-family: 'Poppins';
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
}

.main-content {
    font-family: 'Poppins';
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #455e14;
    margin-bottom: 20px;
}

h2, p {
    display: inline-block;
    margin-top: 0%;
}

.back-to-dashboard {
    display: inline-block;
    color: #455e14;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.back-to-dashboard:hover {
     text-decoration: underline;
    background-color: #bdd299;
    color: white;
}

form#editUserForm {
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

form#editUserForm label {
    font-weight: bold;
    color: #455e14;
    margin-bottom: 8px;
    display: block;
    font-size: 16px;
}

form#editUserForm input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 41px;
    font-size: 16px;
    box-sizing: border-box;
}

form#editUserForm input:focus {
    border-color: #455e14;
    background-color: white;
    outline: none;
}

form#editUserForm button {
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 6px auto 0 auto;
    border-radius: 5px;
    border-color: #acacac;
    background-color: #83951c;
    color: white;
    font-weight: bold;
}

form#editUserForm button:hover {
    background-color: #bdd299;
    color: #455e14;
}

@media (max-width: 768px) {
    .main-content {
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    form#userForm input {
        font-size: 14px;
    }

    table#userTable th,
    table#userTable td {
        font-size: 14px;
    }
}