@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    font-family: 'Poppins';
    min-width: 150px;
    width: 250px;
    height: 100vh;
    background: linear-gradient(to bottom, #009E49, #BAD80A);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar h2 {
    margin-top: 3px;
    border-bottom: 2px solid #143f17;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    color: black;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: green;
    border-radius: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-content {
    font-family: 'Poppins';
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.main-content h2, .back-to-dashboard {
    display: inline-block;
}

h2 {
    font-size: 28px;
    color: #455e14;
    margin-bottom: 20px;
}

.back-to-dashboard {
    display: inline-block;
    color: #455e14;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

.back-to-dashboard:hover {
    text-decoration: underline;
    background-color: #bdd299;
    color: white;
}

.AddBottle {
    background-color: #83951c;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AddBottle:hover {
    background-color: #bdd299;
    color: #455e14;
}

.bottles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
}

.bottle-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.bottle-item:hover {
    transform: translateY(-5px);
}

.bottle-image img {
    max-width: 100%;
    height: 100px;
    border-radius: 8px;
    padding: 10px;
}

.bottle-details {
    padding: 15px;
    text-align: center;
}

.bottle-details h3 {
    font-size: 18px;
    color: #455e14;
    margin: 10px 0;
}

.bottle-details p {
    font-size: 14px;
    color: #777;
}

.edit-button, .delete-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: #455e14;
    color: white;
}

.edit-button:hover {
    background-color: #bdd299;
    color: #455e14;
}

.delete-button {
    background-color: #b4e639;
    color: white;
}

.delete-button:hover {
    background-color: #E74C3C;
    color: white;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}

.close {
    align-self: flex-end;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #555;
}

h3 {
    margin-top: 0;
    color: #455e14;
    font-size: 24px;
}

.edit-modal-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottle-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #455e14;
    margin-bottom: 5px;
}

.editsizeinput:focus {
    outline: none;
    border-width: 2px;
    border-color: #455e14;
}

select {
    width: 20%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #455e14;
    border-radius: 5px;
    font-family: 'Poppins';
}

select option {
    font-weight: bold;
    color: #455e14;
    font-family: 'Poppins';
}

.modal-input {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #455e14;
    font-size: 16px;
    transition: border 0.3s ease;
}

.modal-input:focus {
    outline: none;
    border-width: 2px;
    border-color: #455e14;
}

.modal-save-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #83951c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.modal-save-button:hover {
    background-color: #bdd299;
    color: #455e14;
}

/* Fade in animation for the modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }

    .content {
        margin: 10px;
        padding: 15px;
    }

    .main-content {
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    .bottle-item {
        padding: 8px;
    }

    .bottle-details h3 {
        font-size: 16px;
    }

    .bottle-details p {
        font-size: 12px;
    }

    .modal-content {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 180px;
    }

    .content {
        margin: 5px;
        padding: 10px;
    }

    .main-content {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    .bottle-item {
        padding: 6px;
    }

    .bottle-details h3 {
        font-size: 14px;
    }

    .bottle-details p {
        font-size: 10px;
    }

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 150px;
    }

    .content {
        margin: 5px;
        padding: 5px;
    }

    .main-content {
        padding: 5px;
    }

    h2 {
        font-size: 18px;
    }

    .bottle-item {
        padding: 4px;
    }

    .bottle-details h3 {
        font-size: 12px;
    }

    .bottle-details p {
        font-size: 8px;
    }

    .modal-content {
        width: 100%;
    }
}